/* body{
    margin: auto;
}
/* footer{

} */
/* .MainCard{
    background-color: rgb(150, 48, 48);
    height: 500px;
    width: 100%;
}
.Details{
    background-color: white;
    box-shadow: 5px 8px 22px rgb(56, 3, 3), 2px 2px 22px inset black;
    border-radius: 4px ;
    padding: 2%;
    width: 40%;
}

.Notes{
    background-color: aliceblue;
}  */